Flask
Jinja2
chardet
cssselect
lxml
pycurl
pyquery
pymysql
requests
tornado
mysql-connector-python
pika
pymongo
mongoengine
blinker
unittest2
Flask-Login
u-msgpack-python
click
SQLAlchemy
six
amqp
redis
redis-py-cluster
kombu
psycopg2-binary
elasticsearch
tblib
wsgidav==2.4.1
werkzeug==2.2.3
pandas