ipython
jupyter
jupyterlab
jupyter_contrib_nbextensions
numpy
scipy
statsmodels
matplotlib
seaborn
pandas
scikit-learn
alphalens

flask-caching
requests
pymongo
loguru
marshmallow
mongoengine
redis
hiredis
aiohttp
transitions
blinker
ta-lib
sqlalchemy
pymysql
lxml
bs4
dill
yapf
tushare

pyecharts
baidu-aip
mplfinance
pandarallel
pydotplus
pysnooper