jupyter
jupyterlab
ipython
jupyter_contrib_nbextensions
numpy
scipy
statsmodels
matplotlib
pandas
yapf
alphalens
scikit-learn

flask
flask-apscheduler
flask-sqlalchemy
flask-caching
flask_cors
flask-jwt
flask-user
flask-excel
requests
apscheduler
pymongo
logbook
loguru
raven
marshmallow
mongoengine
redis
hiredis
celery
aiohttp
transitions
blinker
ta-lib
sqlalchemy
pymysql
lxml
bs4
pyexcel-xls
pyexcel-xlsx
rethinkdb
python-redis-lock
dill

pdfminer.six
baidu-aip
mpl_finance
