jupyter
jupyterlab
ipython
jupyter_contrib_nbextensions
numpy
scipy
statsmodels
matplotlib
pandas
yapf
alphalens
scikit-learn

flask-caching
requests
apscheduler
pymongo
logbook
loguru
marshmallow
mongoengine
redis
hiredis
aiohttp
transitions
blinker
ta-lib
sqlalchemy
pymysql
lxml
bs4
rethinkdb
dill
tushare

pdfminer.six
baidu-aip
mpl_finance
pandarallel
pydotplus